{% extends 'layout.twig' %} {% block content %}
<div class="mt-5">
	<div class="container-md">
		<div class="card">
			<div class="card-header text-center font-weight-bold">
				<span class="float-left">
					<a class="btn btn-info btn-sm" :href="BASEURL + 'home'">
						<i class="fas fa-backward"></i>
						<span class="d-none d-md-inline">Back</span>
					</a>
				</span>
				Dashboard
			</div>
			<div class="card-body main-card">
				<div class="row">
					<div class="col-12 mb-3">
						<tabs-navbar
							:active="component"
							:options="options"
							@change-option="changeComponent"
						>
						</tabs-navbar>
					</div>
					<div class="col-12">
						<loader :loading="loading"></loader>
					</div>
					<div class="col-12">
						<component @loading="toggleLoaderIcon" :is="component"></component>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} {% block javascript %}
<script>
	let home = new Vue({
		el: "#app-body",
		delimiters: ["#{", "}"],
		data() {
			return {
				loading: true,
				options: [
					{
						name: "Divisions",
						active: "divisionsList"
					},
					{
						name: "Photobooths",
						active: "boothTypesList"
					},
					{
						name: "Backdrops",
						active: "backdropsList"
					},
					{
						name: "Props",
						active: "propsList"
					},
					{
						name: "Users",
						active: "usersList",
						disabled: true
					},
					{
						name: "Permissions",
						active: "permissionsList",
						disabled: true
					}
				],
				component: "divisionsList",
				BASEURL
			};
		},
		methods: {
			changeComponent(component) {
				this.component = component;
			},
			toggleLoaderIcon(loading) {
				this.loading = loading;
			}
		}
	});
</script>
{% endblock %}
