{% extends 'layout.twig' %}
{% block content %}
	<div class="mt-5">
		<div class="container">
			<div class="card">
				<div class="card-header text-center font-weight-bold">
					<span class="float-left">
						<a class="btn btn-info btn-sm" :href="backUrl">
							<i class="fas fa-backward"></i> <span class="d-none d-md-inline">Back</span>
						</a>
					</span>
					#{ division.name } events
					<span class="float-right">
						<div class="btn-group btn-group-sm">
							<a class="btn btn-primary" :href="manageUrl">
								<i class="fas fa-cog"></i>
								<span class="d-none d-md-inline">Manager</span>
							</a>
						</div>
					</span>
				</div>
				<div class="card-body main-card">
					<div class="row">
						<div class="col-12">
							<loader :loading="loading"></loader>
						</div>
						<div class="col-12">
							<event-card-holder @loading="toggleLoaderIcon" :division-id="division.id" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script>
		let division = new Vue({
			el: "#app-body",
			delimiters: ["#{", "}"],
			data: () => ({
					division: {{ division | json_encode | raw }},
					loading: true,
					BASEURL
			}),
			computed: {
				manageUrl() {
					return BASEURL + "division/manage/" + this.division.url;
				},
				backUrl() {
					return BASEURL + "home";
				}
			},
			methods: {
				toggleLoaderIcon(loading) {
					this.loading = loading;
				}
			}
		});
	</script>
{% endblock %}
