{% extends 'layout.twig' %}
{% block content %}
	<div class="mt-5">
		<div class="row">
			
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script>
		let login = new Vue({
			el: ".card",
			delimiters: ["${", "}"],
			data(){
				return {
					
				}
			},
			method: {
				
			}
		});
	</script>
{% endblock %}
